/* Main */
.mainbar {
	position: relative;
	margin-left: 230px;
	margin-right: 0px;
	max-height: 90vmin;
	margin-top: 100px;
}

.mainbar .container {
	max-width: 100% !important;
}
#pMenu {
	overflow-y: hidden;
	scrollbar-highlight-color: #ff4c8e;
	scrollbar-3dlight-color: #ff4c8e;
	scrollbar-face-color: #ff4c8e;
	scrollbar-shadow-color: #ff4c8e;
	scrollbar-darkshadow-color: white;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #ff4c8e;
	overflow: scroll;
	height: 70vmin;
}

#pMenu::-webkit-scrollbar {
	width: 8px;
	margin-left: 20px;
}

#pMenu::-webkit-scrollbar-button {
	display: block;
	height: 0px;
	background: #fff;
}

#pMenu::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#pMenu::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: #ff4c8e;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#pMenu::-webkit-scrollbar-corner {
	background: #fff;
}

/* ----------------- */

/* 18-01-17 테이블 숨김처리  - 제거*/
/* table {
	display: none;
} */

/* 18-01-17 각메뉴 종류 div 설정*/
#pMenu .pRowMenu {
	font-size: 15px;
}

#pMenu .pRowMenu .menuSubTitle {
	font-size: 12px;
	display: inline-block;
	width: 90%;
}

#pMenu .pRowMenu .menuRight {
	width: 10%;
	height: 100%;
	margin-right: 15px;
	display: inline-block;
}

/* 재고 처리 테이블 */
.pTable {
	width: 95%;
	margin: 0px 7px;
	padding: 10px;
	z-index: 99999;
}

/* 초기 imhome 메뉴 감추기 위한 */
.pRowMenu .pTable{
	display: none;
}
/* .pTable thead{
	text-align: center;
	padding: 5px;
	font-size: 1em;
	border-bottom: 1px dashed #aaa;
} */

.pTable th {
	text-align: center;
	padding: 5px;
	font-size: 0.9em;
	border-bottom: 1px dashed #aaa;
}

.pTable td {
	text-align: center;
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

.pTable td input[type="number"] {
	width: 50%;
	text-align: center;
	border: none;
	outline: none;
}

.pTable button {
	width: 100%;
	background: none;
	border: none;
}

.pSeleted {
	background-color: #ff4c8e;
	color: #fff;
	border-color: #ff4c8e;
}

/* 전체 메뉴 보기 커스터마이즈 18-01-17 */
.allProductBtn {
	background-color: #ffa101;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 3px;
}

/* 주문표란 18-01-17 by sseon*/
.orderContainer {
	background-color: #ff4c8e;
	height: 70vmin;
	padding: 12px;
	color: #fff;
}

.orderContainer .order {
	border: 1px dashed #fff;
	height: 100%;
	padding: 5% 45px;
}

/* 주문표 상단 */
.orderContainer .orderHead {
	border-bottom: 1px dashed #fff;
	width: 100%;
	font-size: 10px;
}

.orderContainer .orderHead .orderTitle {
	display: block;
	font-size: 2em;
	padding: 10px;
}

.orderContainer .orderHead .orderProduct {
	display: inline-block;
	width: 60%;
	padding: 10px 20px;
	text-transform: uppercase;
}

.orderContainer .orderHead .orderPrice {
	display: inline-block;
	width: 35%;
	padding: 10px;
	text-transform: uppercase;
}

/* 제품별 가격  */
.orderContainer .productList {
	font-size: 10px;
	color: #aaa;
	margin: 5px 0px;
	min-height: 60%;
	border-bottom: 1px dashed #fff;
}

.orderContainer .productList ul {
	List-style: none;
	padding: 0px;
}

.orderContainer .productList ul li {
	List-style: none;
	height: 15px;
}

.orderContainer .productList .orderProduct {
	display: inline-block;
	width: 60%;
	padding-left: 20px;
	/* 문자열 생략 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.orderContainer .productList .orderPrice {
	display: inline-block;
	width: 35%;
	padding-left: 10px;
	/* 문자열 생략 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}