.sidebar{
	display: flex;
	flex: 1;
	font-size: $normal-font-size;
	font-weight: 700;
	justify-content: space-around;

	@include breakpoint("phone") {
		display: block;
		font-size: $small-font-size;
		margin: 44px 0px;
		width: 100%;
	}

	@include breakpoint("phone-landscape") {
		font-size: $small-font-size;
		margin: 0px 10px;
		top: 80px;
	}

	@include breakpoint("small-table-portrait") {
		font-size: $small-font-size;
		margin: 0px 10px;
		top: 80px;
	}

	@include breakpoint("tablet-landscape") {
		font-size: $small-font-size;
		margin: 0px 10px;
		top: 80px;
	}

	@include breakpoint("table-portrait") {
		font-size: $small-font-size;
	}


	.sidebar_dropdown{
		font-size: $normal-font-size;
		background-color: $bg-color;
		text-decoration: none;
		width: 100%;
		display: none;
		padding: 10px 0px;
		text-align: center;
		border-top: 2px dashed #aaa;
		border-bottom: 2px dashed #aaa;

		cursor: pointer;

		&:hover{
			color: $bg-color;
			background-color: $light-pink;
		}

		@include breakpoint("phone") {
			display: block;
		}
	}

	.sidebar_inner{
		width: 100%;

		@include breakpoint("phone") {
			display: none;
		}

		ul{
			display: flex;
			padding: 0px 25px;
			flex-direction: column;
			list-style-type: none;
			justify-content: center;


			@include breakpoint("phone") {
				width: 100%;
				background-color: $bg-color;
			}

			@include breakpoint("phone-landscape") {
			}

			@include breakpoint("small-table-portrait") {
				width: 140px;
			}

			@include breakpoint("tablet-landscape") {
				width: 170px;
			}

			@include breakpoint("table-portrait") {
				width: 150px;
			}

			li{
				flex: 1;
				padding: 10px;
				cursor: pointer;
				border-bottom: 1px solid rgba(170, 170, 170, 0.2);
	
				@include breakpoint("phone") {
					padding: 5px 20px;
					font-size: 14px;
					svg{
						width: 25px;
					}
				}
	
				@include breakpoint("phone-landscape") {
					padding:  5px;
					svg{
						width: 25px;
					}
				}
	
				@include breakpoint("small-table-portrait") {
					padding:  5px;
					svg{
						width: 25px;
					}
				}
	
				@include breakpoint("tablet-landscape") {
					padding: 10px;
					svg{
						width: 25px;
					}
				}
	
				@include breakpoint("table-portrait") {
					svg{
						width: 25px;
					}
				}

				&:hover {
					color: $bg-color;
					background-color: $light-pink;
				}
			}
		}
	}
}
