@import "reset-css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700,800');


body{
	font-family: 'Nanum Gothic', sans-serif;
	background-color: $bg-color;
}

a {
	color: $dark;
	text-decoration: none !important;
}

a:hover {
	color: $light-pink;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	outline: 0;
}



