@import "reset-css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');


body{
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 700;
	background-color: $bg-color;

	//스크롤바 설정

	overflow-y: hidden;
	scrollbar-highlight-color: $light-pink;
	scrollbar-3dlight-color: $light-pink;
	scrollbar-face-color: $light-pink;
	scrollbar-shadow-color: $light-pink;
	scrollbar-darkshadow-color: $bg-color;
	scrollbar-track-color: $bg-color;
	scrollbar-arrow-color: $light-pink;
	
	overflow: scroll;

	&::-webkit-scrollbar {
		width: 5px;
		margin-left: 20px;
	}
	
	&::-webkit-scrollbar-button {
		display: block;
		height: 0px;
	}
	
	&::-webkit-scrollbar-track {
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
	
	&::-webkit-scrollbar-thumb {
		height: 50px;
		width: 50px;
		background: $light-pink;
	}
	
	&::-webkit-scrollbar-corner {
		background: $bg-color;
		width: 0px;
	}
}

span:lang(ko){
	font-family: 'Nanum Gothic', sans-serif;
}

span:lang(en) {
	font-family: 'Rozha One', serif;
}

a {
	color: $dark;
	text-decoration: none !important;
	cursor: pointer;
}

a:hover {
	color: $light-pink;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	outline: 0;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }


