.navbar{
	display: flex;
	flex: 1;
	font-size: $normal-font-size;
	padding: 10px 30px;
	background-color: $bg-color;
	border-bottom: 2px dashed #aaa;

	@include breakpoint("phone") {
		display: block;
		font-size: $small-font-size;
	}

	@include breakpoint("phone-landscape") {
		font-size: $small-font-size;
	}

	@include breakpoint("small-table-portrait") {
		font-size: 12px;
	}

	@include breakpoint("tablet-landscape") {
		font-size: $small-font-size;
	}

	@include breakpoint("table-portrait") {
		font-size: $small-font-size;
	}

	.header{
		display: flex;
		flex: 1;
		justify-content: flex-start;
		align-items: center;

		@include breakpoint("phone-landscape") {
			align-self: center;
		}

		.navbar_brand{
			font-size: $main-header-size;

			@include breakpoint("phone-landscape") {
				font-size: $big-font-size;
			}

			@include breakpoint("small-table-portrait") {
				font-size: $big-font-size;
			}
		}

		.upper_word{
			font-size: $small-font-size;
			align-self: baseline;
		}
	}

	.menu_list{
		display: flex;
		justify-content: flex-end;
		flex: 2;

		@include breakpoint("phone") {
			margin: 10px;
		}

		@include breakpoint("phone-landscape") {
			flex: 3;
			margin: 10px;
		}

		@include breakpoint("small-table-portrait") {
			flex: 2;
		}

		@include breakpoint("tablet-landscape") {
			flex: 2;
		}

		@include breakpoint("table-portrait") {
			flex: 2;
		}
		
		ul {
			display: flex;
			align-items: center;

			@include breakpoint("phone") {
				display: table;
			}

			li {
				padding: 0px 20px;

				a {
					@include breakpoint("phone") {
						padding: 10px 20px;
					}
		
					@include breakpoint("phone-landscape") {
						padding: 8px;
					}
		
					@include breakpoint("small-table-portrait") {
						padding: 8px;
					}

					&a:hover {
						color:  $light-pink;
					}
				}
			}
		}
	}
}

